<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link type="text/css" href="../assets/css/common.css" rel="stylesheet" />
    <script type="text/javascript" src="../assets/scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
        var gui = require('nw.gui');

        $(function () {
            window.onload = function () {
                $("body").css("background", "#f5f5f5");
            }
            //启动程序
            setTimeout(function () {
                $("#divStart").hide();
                $("#divVersion").show(); //启动后进入某个页面
                $(".tname1").show();
            }, 3000)
            //点击升级
            $(".js_update").click(function () {
                $("#divVersion").hide();
                $("#divVersionUpdate").show(function () {
                    doUpdate()
                });
            })
            //点击更新
            $(".js_update1").click(function () {
                $("#divVersionUpdate1").hide();
                $("#divPWD").show();
            })

            //选择二维码登录
            $("#aSMS").click(function () {
                $("#divPWD").hide();
                $("#divSMS").show();
            })
            //选择密码登录
            $("#aPWD").click(function () {
                $("#divSMS").hide();
                $("#divPWD").show();
            })
            //登录失败
            $(".js_login").click(function () {
                $("#divSMS").hide();
                $("#divPWD").hide();
                $("#divNull").show();
            })
            //登录失败
            $(".js_login1").click(function () {
                gui.Window.open("views/default.html", {
                    "min_width": 960,
                    "min_height": 600,
                    "width": 960,
                    "height": 600,
                    "show": true,
                    "frame": false,
                    "focus": true
                });
                gui.Window.get().close();
            })
            //登录失败返回
            $(".js_login_back").click(function () {
                $("#divSMS").hide();
                $("#divPWD").show();
                $("#divNull").hide();
            })
        })
    </script>
</head>

<body>
    <!--顶部bar-->
    <div id="titlebar" class="bar1">
        <span class="tname1" style="display:none;">蛐蛐宝</span>
        <span class="t_sp">
            <a id="titlebar_min" class="min1 nodrag"></a>
            <a id="titlebar_close" class="close1 nodrag"></a>
        </span>
    </div>
    <!--程序启动-->
    <div class="paddinglr20" id="divStart">
        <p class="margintop50 aligncenter"><span class="s_logo">蛐蛐宝</span></p>
        <p class="margintop30 aligncenter height50li fontsize16">让天下没有难收的账款</p>
        <p class="margintop30 aligncenter fontcolor666"><span class="s_logining">系统启动中</span></p>
    </div>
    <!--版本检测-->
    <div class="paddinglr20" id="divVersion" style="display:none;">
        <p class="aligncenter margintop10 fontsize16 bottomBorder2 height50li">发现新版本&nbsp;&nbsp;v2.2.2</p>
        <div style="overflow:auto; height:220px;">
            <p class="alignleft margintop10 fontcolor666">1、交互优化</p>
            <p class="alignleft margintop5 fontcolor666">2、新增牛B功能</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
            <p class="alignleft margintop5 fontcolor666">3、加入各种不知明机制</p>
        </div>
        <p class="button_bottom"><a class="btn1 js_update">立即升级</a></p>
    </div>
    <!--版本检测（升级）-->
    <div class="paddinglr20" id="divVersionUpdate" style="display:none;">
        <p class="aligncenter margintop50 fontsize16 height50li">下载安装包</p>
        <p class="aligncenter margintop10"><span class="v_update"><span class="v_Progress">&nbsp;</span></span>
        </p>
        <p class="aligncenter"><label id="v_value">0</label></p>
        <script type="text/javascript">
            var _progress = 0;
            function doUpdate() {
                if (_progress != 100) {
                    _progress++;
                    $(".v_Progress").css("width", _progress + "%");
                    $("#v_value").html(_progress + "%");
                } else {
                    $("#divVersionUpdate").hide();
                    $("#divVersionUpdate1").show();
                    return;
                }
                setTimeout(function () {
                    doUpdate()
                }, 10)
            }
        </script>
    </div>
    <!--版本检测（升级/下载完成）-->
    <div class="paddinglr20" id="divVersionUpdate1" style="display:none;">
        <p class="aligncenter margintop50"><img src="../assets/images/payopen_2.png" class="v_done" /></p>
        <p class="aligncenter height40li">下载完成</p>
        <p class="margintop40"><a class="btn1 js_update1">立即更新</a></p>
    </div>
    <!--密码登录-->
    <div class="paddinglr20" id="divPWD" style="display:none;">
        <p class="aligncenter margintop30"><img src="../assets/images/qu_96.png" class="p_logo" /></p>
        <p class="margintop5"><input type="text" name="name" class="p_input" placeholder="账号/手机号" /></p>
        <p><input type="password" name="name" class="p_input" placeholder="密码" /></p>
        <p class="height40li"><input type="checkbox" name="name" class="" id="lblpwd" /><label for="lblpwd" class="p_savePwd">记住密码</label></p>
        <p class="margintop5"><a class="btn1 js_login">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></p>
        <!--账号密码未填：btn1a，已填：btn1-->
        <p class="margintop15 aligncenter"><a class="fontcolor666 curr" id="aSMS">短信验证码登录</a></p>
    </div>
    <!--短信登录-->
    <div class="paddinglr20" id="divSMS" style="display:none;">
        <p class="aligncenter margintop30"><img src="../assets/images/qu_96.png" class="p_logo" /></p>
        <p class="margintop5"><input type="text" name="name" class="p_input" placeholder="手机号" /></p>
        <p><input type="password" name="name" class="p_input" placeholder="验证码" /><a class="s_getSMS">获取验证码</a></p>
        <p class="aligncenter height40li"><a class="fontcolor999">收不到验证码？试试</a><a class="fontcolor008def curr">语音验证码</a></p>
        <p class="margintop5"><a class="btn1 js_login1">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></p>
        <!--账号密码未填：btn1a，已填：btn1-->
        <p class="margintop15 aligncenter"><a class="fontcolor666 curr" id="aPWD">密码登录</a></p>
    </div>
    <!--登录失败/被踢-->
    <div class="paddinglr20" id="divNull" style="display:none;">
        <p class="aligncenter margintop50"><img src="../assets/images/un_key.png" class="un_logo" /></p>
        <p class="aligncenter margintop20 fontcolor666">对不起，您的账户还未通过实名认证，请登录APP进行认证操作。</p>
        <p class="aligncenter margintop20 fontcolor666" style="display:none;">对不起，您的账户状态异常，请重新登录。</p>
        <p class="aligncenter margintop20 fontcolor666" style="display:none;">您已下线，您的账号从其他地方登录，请检查是否为本人操作。</p>
        <p class="margintop50"><a class="btn1 js_login_back">确&nbsp;&nbsp;&nbsp;&nbsp;定</a></p>
    </div>
    <script type="text/javascript" src="../assets/layout.js"></script>
</body>

</html>